<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" packages="com.chmykhun">
    <appenders>
        <RollingFile name="RollingFile" fileName="logs/log.log"
                     filePattern="logs/log-%d{yyyy-MM-dd}-%i.txt">
            <PatternLayout>
                <pattern>%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </appenders>
    <loggers>
        <root level="debug">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="RollingFile"/>
        </root>
    </loggers>

</configuration>